@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Home Page";
}

<!-- Hero Section -->
<section id="hero" class="hero section dark-background">

    <img src="~/Content/web_template/img/hero-bg.jpg" alt="" data-aos="fade-in">

    <div class="container">
        <h2 data-aos="fade-up" data-aos-delay="100">Learning Today,<br>Leading Tomorrow</h2>
        <p data-aos="fade-up" data-aos-delay="200">&nbsp;</p>
        <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
            <a href="@Url.Action("Login", "Account")" class="btn-get-started">Get Started</a>
        </div>
    </div>

</section><!-- /Hero Section -->
<!-- About Section -->
<section id="about" class="about section">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                <img src="~/Content/web_template/img/about.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                <h3>Reading skills for early learners</h3>
                <p class="fst-italic">
                    Our reading worksheets help young learners develop essential reading skills and understanding. We cover phonics, sentence and paragraph building, and engaging stories with accompanying comprehension activities. Our stories are designed to reinforce key comprehension concepts like main idea and sequencing.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Comprehensive approach: Covers phonics, sentence structure, and comprehension.</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Strong foundation: Builds on phonics to develop reading skills.</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Engaging content: Uses children's stories to make learning fun.</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Skill development: Targets specific comprehension skills.</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Empowerment: Helps children become confident readers.</span></li>
                     
                </ul> 
            </div>

        </div>

    </div>

</section><!-- /About Section -->
<!-- Counts Section -->
<section id="counts" class="section counts light-background">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Students</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Topics</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Events</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Teachers</p>
                </div>
            </div><!-- End Stats Item -->

        </div>

    </div>

</section><!-- /Counts Section --> 
<!-- Courses Section -->
<section id="courses" class="courses section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Topics</h2>
        <p>Popular Topics</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="course-item">
                    <img src="~/Content/web_template/img/childrenstories.jpg" class="img-fluid" alt="...">
                    <div class="course-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <p class="category">Stories</p> 
                        </div>

                        <h3><a href="#">Children's stories</a></h3>
                        <p class="description">Short stories, passages or poems followed by reading comprehension exercises for kindergarten through grade 5.  For early grades, most exercises focus on recalling information directly from the text.</p>
                        <div class="trainer d-flex justify-content-between align-items-center">
                            <div class="trainer-profile d-flex align-items-center">
                                <img src="~/Content/web_template/img/trainers/trainer-1-2.jpg" class="img-fluid" alt="">
                                <a href="" class="trainer-link">Antonio</a>
                            </div>
                            <div class="trainer-rank d-flex align-items-center">
                                <i class="bi bi-person user-icon"></i>&nbsp;50
                                &nbsp;&nbsp;
                                <i class="bi bi-heart heart-icon"></i>&nbsp;65
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="course-item">
                    <img src="~/Content/web_template/img/readingsentencesandpassages.jpg" class="img-fluid" alt="...">
                    <div class="course-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <p class="category">Early Reading Worksheets</p> 
                        </div>

                        <h3><a href="#">Reading sentences & passages</a></h3>
                        <p class="description">Reading and understanding simple sentences and paragraphs.</p>
                        <div class="trainer d-flex justify-content-between align-items-center">
                            <div class="trainer-profile d-flex align-items-center">
                                <img src="~/Content/web_template/img/trainers/trainer-2-2.jpg" class="img-fluid" alt="">
                                <a href="" class="trainer-link">Lana</a>
                            </div>
                            <div class="trainer-rank d-flex align-items-center">
                                <i class="bi bi-person user-icon"></i>&nbsp;35
                                &nbsp;&nbsp;
                                <i class="bi bi-heart heart-icon"></i>&nbsp;42
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="course-item">
                    <img src="~/Content/web_template/img/sequencing.jpg" class="img-fluid" alt="...">
                    <div class="course-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <p class="category">Comprehension Worksheets</p> 
                        </div>

                        <h3><a href="#">Sequencing</a></h3>
                        <p class="description">Place events in their natural sequence based on a text.</p>
                        <div class="trainer d-flex justify-content-between align-items-center">
                            <div class="trainer-profile d-flex align-items-center">
                                <img src="~/Content/web_template/img/trainers/trainer-3-2.jpg" class="img-fluid" alt="">
                                <a href="" class="trainer-link">Brandon</a>
                            </div>
                            <div class="trainer-rank d-flex align-items-center">
                                <i class="bi bi-person user-icon"></i>&nbsp;20
                                &nbsp;&nbsp;
                                <i class="bi bi-heart heart-icon"></i>&nbsp;85
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Course Item-->

        </div>

    </div>

</section><!-- /Courses Section -->
<!-- Trainers Index Section -->
<section id="trainers-index" class="section trainers-index">

    <div class="container">

        <div class="row">

            <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <img src="~/Content/web_template/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>Walter White</h4>
                        <span>Teacher</span>
                        <p>
                            Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                        </p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                <div class="member">
                    <img src="~/Content/web_template/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>Sarah Jhinson</h4>
                        <span>Teacher</span>
                        <p>
                            Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                        </p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <img src="~/Content/web_template/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>William Anderson</h4>
                        <span>Teacher</span>
                        <p>
                            Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                        </p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- End Team Member -->

        </div>

    </div>

</section><!-- /Trainers Index Section -->
